@font-face {
	font-family: 'fontello';
	src: url('/font/fontello.eot');
	src: url('/font/fontello.eot') format('embedded-opentype'),
	url('/font/fontello.woff') format('woff'),
	url('/font/fontello.ttf') format('truetype'),
	url('/font/fontello.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before
{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	speak: none;
	display: inline-block;
	width: 1em;
	line-height: 1em;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	transition: color 0.2s;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	border: 0 none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

h1, h2, h3
{
	font: Georgia, "Times New Roman", serif;
}

h1
{
	margin-bottom: 0.3em;
}

h2
{
	margin: 0.3em 0;
}

html, body
{
	width: 100%;
	height: 100%;
}

body
{
	color: #000;
	background-color: #F1F1F1;
	font: normal 80% "Trebuchet MS", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
}

a
{
	color: #000;
	text-decoration: none;
}

html, body, ol, ul
{
	margin: 0;
	padding: 0;
}

h1
{
	font-size: 2.75em;
	color:  #1B252A;
}

#header
{
	height: 30px;
	line-height: 30px;
	vertical-align: bottom;
	width: 100%;
	background: url(/img/fond.png) repeat-x bottom #2d2d2d;
	position: absolute;
	z-index: 10;
}

#header-rss:before
{
	content: '\e806';
	font-size: 200%;
	position: relative;
	top: 2px;
}

#header-rss:hover
{
	background: 0;
}


nav form
{
	margin-left: 20px;
}

nav ul
{
	list-style: none;
	height: 100%;
}
nav ul li
{
	float: left;
	height: 100%;
}
nav li a
{
	color: #aaa;
	text-decoration: none;
	font-size: 13px;
	line-height: 30px;
	padding: 7px 13px;
}
nav li a.over, nav li a:hover
{
	background: url(/img/fleche.png) no-repeat scroll 50% bottom transparent;
	color: #f1f1f1;
	cursor: pointer;
}

.wrap
{
	width: 960px;
	margin: 0 auto;
}

#content
{
	background-color: #fff;
	box-shadow: 0px 4px 10px #A1A1A1;
	min-height: 100%;
	position: relative;
	z-index: 0;
}

#content section
{
	padding: 20px;
	padding-top: 50px;
}

#content article
{
	margin-bottom: 40px;
}

#footer
{
	text-align: center;
	margin-top: 20px;
	padding-bottom: 20px;
	color: #999;
}
#footer a
{
	color: #999;
}
#footer a:hover
{
	color: #222;
}

#article-nav
{
	margin-top: 1em;
display: block;
	clear: both;
}

.article-meta
{
	background-color: #fff;
	position: absolute;
	left: -40px;
	width: 40px;
	font-size: 1.1em;
	text-align: center;
	padding: 20px 0px;
	border-radius: 5px 0 0 5px;
}

.article-day
{
	font-weight: 700;
}

#article-month
{
	font-size: 0.8em;
	color: #777;
}

#article-edit
{
	float: right;
	color: #aaa;
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
	font-size: 220%;
	position: relative;
	top: 5px;
}

#article-edit:before
{
	content: '\e803';
}

#article-edit:hover
{
  color: #888;
}

#article-nav-newer, #article-nav-older
{
	color: #0E83CD;
}

#article-nav-older
{
	color: #CC310E;
}

#article-nav-newer
{
	float: right;
}

#article-nav-older:before
{
	content: '\e800';
}

#article-nav-newer:before
{
	content: '\e802';
}

#article-nav-newer:hover, #article-nav-older:hover
{
	text-decoration: underline;
	/* color: #888; */
}

#footer-up:before
{
	content: '\e801';
}

#footer-github:before
{
	content: '\e805';
}

.icon-left:before { content: '\e800'; } /* '' */
.icon-up-bold:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-up-dir:before { content: '\e804'; } /* '' */
.icon-github-circled:before { content: '\e805'; } /* '' */
.icon-rss:before { content: '\e806'; } /* '' */

/*
** Tommorow higlight theme
*/
.article-entry pre, .article-entry .highlight {
    background: none repeat scroll 0 0 #2D2D2D;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0;
    color: #CCCCCC;
    line-height: 22.4px;
    /* margin: 0 -20px; */
    overflow: auto;
    padding: 15px 20px;
}
.article-entry .highlight .gutter pre, .article-entry .gist .gist-file .gist-data .line-numbers {
    color: #666666;
    font-size: 0.85em;
}
.article-entry pre, .article-entry code {
    font-family: "Source Code Pro",Consolas,Monaco,Menlo,Consolas,monospace;
}
.article-entry code {
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 0 0.3em;
    text-shadow: 0 1px #FFFFFF;
}
.article-entry pre code {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 0;
    text-shadow: none;
}
.article-entry .highlight pre {
    border: medium none;
    margin: 0;
    padding: 0;
}
.article-entry .highlight table {
    margin: 0;
    width: auto;
}
.article-entry .highlight td {
    border: medium none;
    padding: 0;
}
.article-entry .highlight figcaption {
    color: #999999;
    font-size: 0.85em;
    line-height: 1em;
    margin-bottom: 1em;
}
.article-entry .highlight figcaption:before, .article-entry .highlight figcaption:after {
    content: "";
    display: table;
}
.article-entry .highlight figcaption:after {
    clear: both;
}
.article-entry .highlight figcaption a {
    float: right;
}
.article-entry .highlight .gutter pre {
    padding-right: 20px;
    text-align: right;
}
.article-entry .gist {
    background: none repeat scroll 0 0 #2D2D2D;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 0;
    margin: 0 -20px;
    padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
    border: medium none;
    font-family: "Source Code Pro",Consolas,Monaco,Menlo,Consolas,monospace;
    margin: 0;
}
.article-entry .gist .gist-file .gist-data {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
    padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
    border: medium none;
    margin: 0;
    padding: 0;
}
.article-entry .gist .gist-file .gist-meta {
    background: none repeat scroll 0 0 #2D2D2D;
    color: #999999;
    font: 0.85em "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: 20px;
    margin-top: 1em;
    padding: 0;
    text-shadow: 0 0;
}
.article-entry .gist .gist-file .gist-meta a {
    color: #258FB8;
    font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
    text-decoration: underline;
}
pre .comment, pre .title {
    color: #999999;
}
pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #F2777A;
}
pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #F99157;
}
pre .class, pre .ruby .class .title, pre .css .rules .attribute {
    color: #99CC99;
}
pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #99CC99;
}
pre .css .hexcolor {
    color: #66CCCC;
}
pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #6699CC;
}
pre .keyword, pre .javascript .function {
    color: #CC99CC;
}
